<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yabushier.blogs.mapper.TagMapper" >
  <resultMap id="BaseResultMap" type="com.yabushier.blogs.bean.Tag" >
    <id column="tag_id" property="tagId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yabushier.blogs.bean.Tag" >
    insert into tag (tag_id, name, user_id
      )
    values (#{tagId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yabushier.blogs.bean.Tag" >
    update tag
    set name = #{name,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER}
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select tag_id, name, user_id
    from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select tag_id, name, user_id
    from tag
  </select>

  <select id="selectTagsByBlogsId" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
    select tag_id, name, user_id
    from tag t
    where t.tag_id in (
      select bt.tag_id
      from blogs_otm_tag bt
      where blogs_id=#{blogsId}
    )
  </select>

</mapper>